@model IcasDrive.Models.BulkViewModel
@{
    ViewBag.Title = "Map Drive Papers";
}

<div class="row">
    <br />
    <br />
    @using (Html.BeginForm("AddDrivePapersList", "Bulk", FormMethod.Post))
    {
    <div class="form-group">
        @Html.LabelFor(m => m.Folders, new { @class = "control-label col-sm-3 col-md-2" })
        <div class="col-sm-9 col-md-10">
            @Html.DropDownListFor(m => m.SelectedFolder, Model.Folders, "Select Drive Folder", new { @class = "form-control", onchange = "selectedIndexChanged()" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.DrivePapers, new { @class = "control-label col-sm-3 col-md-2" })
        <div class="col-sm-9 col-md-10">
            @Html.DropDownListFor(m => m.SelectedDrivePaper, new SelectList(Enumerable.Empty<SelectListItem>(), "Id", "Title"), "Select Drive Paper", new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.PaperName, new { @class = "control-label col-sm-3 col-md-2" })
        <div class="col-sm-9 col-md-10">
            @Html.TextBoxFor(m => m.PaperName, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Grades, new { @class = "control-label col-sm-3 col-md-2" })
        <div class="col-sm-9 col-md-10">
            @Html.DropDownListFor(m => m.SelectedGrade, Model.Grades, "Select Grade", new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Subjects, new { @class = "control-label col-sm-3 col-md-2" })
        <div class="col-sm-9 col-md-10">
            @Html.DropDownListFor(m => m.SelectedSubject, Model.Subjects, "Select Subject", new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.Year, new { @class = "control-label col-sm-3 col-md-2" })
        <div class="col-sm-9 col-md-10">
            @Html.TextBoxFor(m => m.Year, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.HasAnswers, new { @class = "control-label col-sm-3 col-md-2" })
        <div class="col-sm-9 col-md-10">
            @Html.CheckBoxFor(m => m.HasAnswers, new { @class = "checkbox-inline" })
        </div>
    </div>
    <br />
    <br />
    <div class="form-group">
        <span class="control-label col-sm-3 col-md-2"></span>
        <div class="btn-toolbar">
            <button id="btnAddToList" class="btn-default btn">Save</button>
            <button class="btn-primary btn" type="submit">Insert Paper(s)</button>
        </div>
    </div>
    @Html.HiddenFor(m => m.SelectedFolder)
    @Html.HiddenFor(m => m.SelectedDrivePaper)
    @Html.HiddenFor(m => m.SelectedGrade)
    @Html.HiddenFor(m => m.SelectedSubject)
    <br />
    <div class="row">
        <div class="col-md-5 col-md-offset-2">
            <table id="selectPapersTable" class="table-responsive table-hover">
            </table>
        </div>
    </div>
    <br />
    <br />
     } 
</div>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#btnAddToList").click(function (event) {
        event.preventDefault();
        appendPaperList();
    });

    function selectedIndexChanged() {
        var selectedFolderId = $("#SelectedFolder").val();
        $.ajax({
            url: '/Bulk/GetDrivePapersAsync',
            type: "GET",
            dataType: "JSON",
            data: { selectedFolder: selectedFolderId },
            success: function (drivePapers) {
                $("#SelectedDrivePaper").html("");
                $.each(drivePapers, function (i, drivePaper) {
                    $("#SelectedDrivePaper").append(
                        $('<option></option>').val(drivePaper.Id).html(drivePaper.Title));
                });
            }
        });
    }

    function appendPaperList() {
        $.ajax({
            url: '/Bulk/BuildPaperSelectionList',
            type: 'GET',
            dataType: 'JSON',
            data: {
                fileStoreId: $("#SelectedDrivePaper option:selected").val(),
                paperName: $('#PaperName').val(),
                selectedSubject: $("#SelectedSubject option:selected").val(),
                selectedGrade: $("#SelectedGrade option:selected").val(),
                hasAnswers: $('#HasAnswers').is(":checked"),
                year: $('#Year').val(),
            },
            success: function (selectPapers) {
                $("#selectPapersTable").html("")
                $("#selectPapersTable").append($('<thead></thead>').html("Paper Name"))
                $.each(selectPapers, function (i, selectPaper) {
                    $("#selectPapersTable").append($('<tr><td></td></tr>').html(selectPaper.PaperName));
                });
            }
        });
    }
</script>
